<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>review is successful</h1>
    <div>
        <div><span th:text="${insertedReview.id}"></span></div>
        <div><span th:text="${insertedReview.user}"></span></div>
        <div><span th:text="${insertedReview.rating}"></span></div>
        <div><span th:text="${insertedReview.comment}"></span></div>
        <div><span th:text="${insertedReview.gameId}"></span></div>
        <div><span th:text="${insertedReview.posted}"></span></div>
        <div><span th:text="${insertedReview.boardgameName}"></span></div>
    </div>
</body>
</html>